/* basic setting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background-color: rgb(207, 220, 231);
}

/* Title*/
header {
  background-color: #d9d9d9;
  width: 100%;
  padding: 1rem;
}

.headertitle {
  font-size: 2.5rem;
}

.headertext {
  font-size: 1.25rem;
}

/* navigation bar */
nav {
  background-color: #312d2d;
}

nav ul {
  display: flex;
}

nav ul ol {
  padding: 0.5rem 0.75rem;
}

nav ul ol a {
  color: rgb(96, 94, 94);
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.25s ease;
}

nav ul ol a:hover {
  color: white;
}

.active {
  color: white;
}

/* main content */
main {
  width: 100%;
  display: flex;
}

section.left,
section.right {
  padding: 1.25rem;
}

.picture {
  width: 700px;
  height: 450px;
  margin: auto;
}

section.right p {
  padding: 1rem 0;
}

@media screen and (max-width: 650px) {
  nav ul {
    flex-direction: column;
  }
}
