body {
  background-color: silver;
}

#p1 {
  background-color: aqua;
}

.p2 {
  background-color: lightgreen;
}

p {
  background-color: orange;
}

h1 {
  background-color: yellow;
  color: red;
}
