/* basic setting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background-color: rgb(207, 220, 231);
}

/* Title*/
header {
  background-color: #d9d9d9;
  width: 100%;
  padding: 1rem;
}

.headertitle {
  font-size: 2.5rem;
}

.headertext {
  font-size: 1.25rem;
}

/* navigation bar */
nav {
  background-color: #312d2d;
}

nav ul {
  display: flex;
}

nav ul ol {
  padding: 0.5rem 0.75rem;
}

nav ul ol a {
  color: rgb(96, 94, 94);
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.25s ease;
}

nav ul ol a:hover {
  color: white;
}

.active {
  color: white;
}

/* main content */
main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section.left,
section.right {
  padding: 1.25rem;
}

section.left {
  flex: 4 1 550px;
}

section.right h2 {
  text-align: center;
}

section.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 250px;
}

@media screen and (max-width: 650px) {
  nav ul {
    flex-direction: column;
  }
}

/* Footer */
.social-icons {
  font-size: 0;
}

.footer-container {
  display: flex;
  margin-left: 100px;
  justify-content: left;
}

.social-icons img {
  margin: 0 20px;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.8);
}
