* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(241, 211, 118);
}

.Header {
  display: flex;
  align-items: center;
  padding: 0 15%;
  margin: 2rem 15%;
  background-color: rgb(159, 125, 66);
  position: relative;
}

.Header h1 {
  font-size: 3rem;
  text-align: center;
  background-color: rgb(159, 125, 66);
  padding-left: 11rem;
}

.Header .signIn {
  padding: 5px 15px;
  background-color: rgb(197, 178, 163);
  font-weight: bold;
  position: absolute;
  right: 15%;
  border: none;
  border-radius: 10px;
}

.Header .logOut {
  display: none;
  padding: 5px 15px;
  background-color: rgb(197, 178, 163);
  font-weight: bold;
  position: absolute;
  right: 15%;
  border: none;
  border-radius: 10px;
}

.Header .helloSpan {
  position: absolute;
  bottom: -100%;
  right: 13%;
  border: none;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

div nav ul li {
  display: inline-block;
  margin: 0.5rem;
}

div main h2,
h3 {
  padding: 0rem 14%;
  margin: 1rem 1rem;
}

div main ul {
  padding: 0rem 17%;
  margin: 0.5rem 1rem;
}

div main ul li {
  padding: 0.2rem 0;
}

.menuOrder {
  padding: 0rem 17%;
  margin: 0.5rem 1rem;
  display: flex;
}

.menuOrder {
  width: 55vw;
  height: 15vw;
  overflow: hidden;
  text-align: center;
}

.menuOrder #img1 {
  width: 9vw;
  height: 10vw;
  transition: transform 0.3s ease-in-out;
  border-radius: 90%;
  margin: 3px 10px;
  padding-bottom: 10px;
}

.menuOrder #img2 {
  width: 12vw;
  height: 10vw;
  transition: transform 0.3s ease-in-out;
  border-radius: 90%;
  margin: 3px 10px;
}

.menuOrder #img3 {
  padding-left: 10px;
  width: 9vw;
  height: 10vw;
  transition: transform 0.3s ease-in-out;
  border-radius: 90%;
  margin: 3px 10px;
}

.menuOrder span {
  font-weight: 200;
}

.menuOrder img:hover {
  transform: scale(1.1);
}

.menuOrder ol {
  display: flex;
}

footer {
  padding: 0 15%;
}

footer p {
  padding: 1rem 0;
}
footer p.copyright,
footer a {
  text-align: center;
  padding: 0% 15%;
  background-color: rgb(159, 125, 66);
}

/*  Sign in Button contain  */
.model {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.model h2 {
  text-align: center;
  background-color: rgba(250, 250, 250, 0.3);
}

.model form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.model form .emailContainer,
.firstNameContainer,
.lastNameContainer,
.phoneContainer,
.buttonContainer {
  display: block;
  background-color: white;
  margin-bottom: 5px;
}

.model label {
  font-size: 18px;
  margin-bottom: 10px;
  background-color: white;
  font-weight: bold;
}

.model input {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.model .required {
  color: red;
  margin-bottom: 5px;
  background-color: white;
  font-weight: bold;
}

.model button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.model button:hover {
  background-color: rgb(255, 0, 0);
}

.close {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 20px;
  right: 20%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
